<template>
	<modal v-show="showModal">
		<template v-slot:header>
			<h5 class="modal-title">Добавить задачу</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true" @click="close">&times;</span>
			</button>
		</template>
		<template>
			<form>
				<div class="form-group">
					<label>Заголовок</label>
					<input class="form-control" v-model="newTaskData.title">
				</div>
				<div class="form-group">
					<label>Описание</label>
					<textarea class="form-control" rows="3" v-model="newTaskData.description"></textarea>
				</div>
				<div class="form-group">
					<label>Cрок</label>
					<input class="form-control" type="date" v-model="newTaskData.date">
				</div>
			</form>
		</template>
		<template v-slot:footer>
			<button class="btn btn-success mb-3 btn-sm" @click="addTask">
				Добавить
			</button>
		</template>
	</modal>
</template>
<script>
import modal from './modal.vue'
export default {
	components: {
		modal
	},
	data () {
		return {
			showModal: false,
			newTaskData: {
				title: '',
				description: '',
				date: null
			}
		}		
	},
	methods: {
		openModal () {
			this.showModal = true;
		},
		close () {
			this.showModal = false
		},
		addTask () {
			this.$store.dispatch('addTask', this.newTaskData);
			this.addingTask = false;
			this.newTaskData = {
				title: '',
				description: '',
				date: null
			}
			this.showModal = false;
		},
	}
}
</script>