<template>
	<modal v-show="authorizing">
		<template v-slot:header>
			<h5 class="modal-title">Авторизация</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true" @click="closeAuthorize">&times;</span>
			</button>
		</template>
		<template>
			<div v-if="authError" class="alert alert-danger" role="alert">Email или Пароль не верный</div>
			<form>
				<div class="form-group">
					<label>Email</label>
					<input class="form-control" v-model="userData.email">
				</div>
				<div class="form-group">
					<label>Пароль</label>
					<input type="password" class="form-control" v-model="userData.password">
				</div>
			</form>
		</template>
		<template v-slot:footer>
			<button class="btn btn-success mb-3 btn-sm" @click="authorizeUser">
				Войти
			</button>
		</template>
	</modal>
</template>
<script>
import modal from './modal.vue'
export default {
	components: {modal},
	data(){
		return {
			userData: {
				email: '',
				password: ''
			},
			authError: false,
			authorizing: false
		}
	},
	methods: {
		authorizeUser() {
			this.$store.dispatch('authorizeUser', this.userData).then(res=>{
				this.userData = {
					name: '',
					surname: '',
					email: ''
				},
				this.closeAuthorize();
			}).catch(err=>{
				this.authError = true
			})
			
		},
		closeAuthorize () {
			this.authorizing = false;
		},
		openAuthorize () {
			this.authorizing = true;
		}
	}
}
</script>
<style>
	.mr-10{
		margin-right: 10px;
	}
</style>