<template>
	<ul class="navbar-nav ml-md-auto">
		<!-- <li class="nav-item" v-if="!currentUser">
			<button @click="authorizeUser" type="button" class="btn btn-success mr-10 btn-sm">Войти</button>
			<authorizeUser ref="authorizationModal"/>
		</li>
		<li class="nav-item" v-if="!currentUser">
			<button @click="registerUser" type="button" class="btn btn-primary btn-sm">Регистрация</button>
			<register ref="registrationModal"/>
		</li>
		<li v-else class="white">
			{{currentUser.name}} {{currentUser.surname}}
		</li> -->
	</ul>
</template>
<script>
import register from './register.vue';
import authorizeUser from './authorizingUser.vue'
export default {
	name: 'authorization',
	components: {
		register,
		authorizeUser
	},
	computed: {
		// currentUser(){
		// 	return this.$store.state.currentUser
		// }
	},
	methods: {
		registerUser() {
			// this.$refs.registrationModal.openRegister();
		},
		authorizeUser () {
			// this.$refs.authorizationModal.openAuthorize();
		}
	}
}
</script>
<style>
	.mr-10{
		margin-right: 10px;
	}
	.white {
		color: white;
	}
</style>