<template>
	<div class="container">
		<div class="row">
			<div class="col col-sm-12 mt-3">
				<!-- <button class="btn btn-success mb-3 btn-sm" @click="addNewTask">Добавить задачу</button> -->
				<add-task-component ref="addTaskComponent"/>
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" data-toggle="tab" href="#nav-current-tasks" role="tab" aria-selected="true">Текущие задачи</a>
						<a class="nav-item nav-link" data-toggle="tab" href="#nav-completed-tasks" role="tab" aria-selected="false">Выполненные</a>
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0">
					<div class="tab-pane fade show active" id="nav-current-tasks" role="tabpanel">
						<div>
							<div class="list-group">
								<!-- <task-component 
									:task="activeTask"
									:editTask="editTask"
									v-for="(activeTask, activeTaskIndex) in activeTasks" :key="activeTaskIndex"	
								/> -->
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="nav-completed-tasks" role="tabpanel">
						<div class="list-group">
							<!-- <task-component 
								:task="completedTask"
								v-for="(completedTask, completedTaskIndex) in completedTasks" :key="completedTaskIndex"	
							/> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import taskComponent from './taskComponent.vue'
import addTaskComponent from './addTask.vue';
export default {
	components: {taskComponent, addTaskComponent},
	data () {
		return {
			editingTask: false
		}
	},
	// methods: {
	// 	addNewTask () {
	// 		this.$refs.addTaskComponent.openModal();
	// 	},
	// 	editTask () {
	// 		this.editingTask = true;
	// 	}
	// },
	// computed: {
		// activeTasks () {
		// 	return this.$store.state.tasks.filter(task=>!task.status)
		// },
	// 	completedTasks () {
	// 		return this.$store.state.tasks.filter(task=>task.status === 'completed')
	// 	}
	// }
}
</script>