<template>
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown" :id="`navbarDropdown${menuIndex}`" v-for="(menuItem, menuIndex) in menuList" 
						:key="menuIndex"
					>
						<a class="nav-link text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{menuItem.title}}
						</a>
						<div class="dropdown-menu" :id="`navbarDropdown${menuIndex}`">
							<a class="dropdown-item" href="#"
								v-for="(submenu, submenuIndex) in menuItem.submenu"
								:key="submenuIndex"
							>{{submenu.title}}</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</template>
<script>
export default {
	data(){
		return {
			menuList: [
				{
					title: 'Главная'
				},
				{
					title: 'О нас',
					submenu: [
						{
							title: 'О компании'
						},
						{
							title: 'О компании'
						},
						{
							title: 'О компании'
						},
						{
							title: 'О компании'
						},
						{
							title: 'О компании'
						},
					]
				},
				{
					title: 'Проекты',
					submenu: [
						{
							title: 'Проект 1'
						},
						{
							title: 'Проект 2'
						},
						{
							title: 'Проект 3'
						}
					]
				}
			]
		}
	}
}
</script>
<style>
	#a:hover + #b {
		background: #ccc
	}
</style>