<template>
	<header class="navbar navbar-expand flex-md-row bd-navbar">
		<headerMenu />
		<authorization />
	</header>
</template>
<script>
import headerMenu from './headerMenu.vue'
import authorization from './authorization.vue'
export default {
	data () {
		return {}
	},
	components: {
		headerMenu,
		authorization
	}
}
</script>
<style scoped>
	header {
		background-image: url('../assets/hd_back.jpg');
		background-size: cover;
		height: 70px;
		background-position: center;
	}
	@media all and (max-width:992px) {
		header {
			display: flex;
			flex-direction: column;
			height: fit-content;
		}
	}
</style>