<template>
	<transition name="modal">
		<div class="modal-mask">
			<div class="modal-wrapper">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				<div class="modal-header">
					<slot name="header"></slot>
				</div>
				<div class="modal-body">
					<slot></slot>
				</div>
				<div class="modal-footer">
					<slot name="footer"></slot>
				</div>
				</div>
			</div>
			</div>
		</div>
	</transition>
</template>
<script>
export default {
	name: 'modal'
}
</script>
<style>
	.modal-mask {
		position: fixed;
		z-index: 9998;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		display: table;
		transition: opacity .3s ease;
	}

	.modal-wrapper {
		display: table-cell;
		vertical-align: middle;
	}
</style>