<template>
	<modal v-show="showModal">
		<template v-slot:header>
			<h5 class="modal-title">Регистрация</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true" @click="closeRegister">&times;</span>
			</button>
		</template>
		<template>
			<form>
				<div class="form-group">
					<label>Имя</label>
					<input class="form-control" v-model="registerData.name" required>
					<div class="invalid-feedback">
						Please choose a username.
					</div>
				</div>
				<div class="form-group">
					<label>Фамилия</label>
					<input class="form-control" v-model="registerData.surname">
				</div>
				<div class="form-group">
					<label>Email</label>
					<input class="form-control" v-model="registerData.email">
				</div>
				<div class="form-group">
					<label>Пароль</label>
					<input type="password" class="form-control" v-model="registerData.password">
				</div>
			</form>
		</template>
		<template v-slot:footer>
			<button class="btn btn-success mb-3 btn-sm" @click="registerUser">
				Сохранить
			</button>
		</template>
	</modal>
</template>
<script>
import modal from './modal.vue'
export default {
	components: {modal},
	data(){
		return {
			registerData: {
				name: '',
				surname: '',
				email: '',
				password: ''
			},
			showModal: false
		}
	},
	methods: {
		registerUser() {
			this.$store.dispatch('registerUser', this.registerData).then(res=>{
				this.closeRegister();
				this.registerData = {
					name: '',
					surname: '',
					email: '',
					password: ''
				}
			});
			
		},
		closeRegister () {
			this.showModal = false;
		},
		openRegister () {
			this.showModal = true;
		}
	}
}
</script>
<style>
	.mr-10{
		margin-right: 10px;
	}
</style>