<template>
	<div class="list-group-item mt-3 rounded">
		<div class="d-flex justify-content-between">
			<h6>{{task.title}}</h6>
			<div>
				<button v-if="!task.status" @click="editingTask = true" type="button" class="btn btn-outline-default waves-effect">
					<i class="fa fa-edit" aria-hidden="true"></i>
				</button>
				<button v-if="!task.status" @click="completeTask" type="button" class="btn btn-outline-default waves-effect">
					<i class="fa fa-check" aria-hidden="true"></i>
				</button>
				<button @click="deleteTask" type="button" class="btn btn-outline-default waves-effect">
					<i class="fa fa-trash" aria-hidden="true"></i>
				</button>
			</div>
		</div>
		<div>
			<p class="font-italic">{{this.shortDescription}}</p>
		</div>
		<div class="date-text">{{task.date ? new Date(task.date).toLocaleDateString() : '-'}}</div>
		<modal v-if="editingTask">
			<template v-slot:header>
				<h5 class="modal-title">Редактировать задачу</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" @click="editingTask = false">&times;</span>
				</button>
			</template>
			<template>
				<form>
					<div class="form-group">
						<label>Заголовок</label>
						<input class="form-control" v-model="editTaskData.title">
					</div>
					<div class="form-group">
						<label>Описание</label>
						<textarea class="form-control" rows="3" v-model="editTaskData.description"></textarea>
					</div>
				</form>
			</template>
			<template v-slot:footer>
				<button class="btn btn-success mb-3 btn-sm" @click="editTask">
					Сохранить
				</button>
			</template>
		</modal>
	</div>
</template>
<script>
import modal from './modal.vue'
export default {
	props: ['task'],
	components: {modal},
	data (){
		return {
			editingTask: false,
			editTaskData: {
				title: this.task.title,
				description: this.task.description,
			}
		}
	},
	computed: {
		shortDescription () {
			return this.task.description?.substring(0,70)
		}
	},
	methods: {
		editTask(){
			this.$store.dispatch('editTask', {task_id:this.task.id, newData: this.editTaskData});
			this.editingTask = false;
		},
		completeTask () {
			this.$store.dispatch('completeTask', this.task.id)
		},
		deleteTask () {
			this.$store.dispatch('deleteTask', this.task.id)
		}
	}
}
</script>
<style>
	.list-group-item {
		background-color: #ddf4f7;
	}
	.list-group-item:first-child {
		margin-top: 0!important;
	}
	.date-text {
		font-size: 0.7rem;
	}
</style>