<template>
	<section>
		<headerComponent />
		<bodyComponent />
		
	</section>
</template>

<script>
import headerComponent from './components/header.vue' 
import bodyComponent from './components/bodyComponent.vue'
export default {
	components: {
		headerComponent,
		bodyComponent,
	}
}
</script>
<style>
:root{
	--task-backgrond-color: #ddf4f7
}
body {
	margin: 0;
	padding: 0;
}
</style>